{
  email {$ACME_EMAIL}
  admin off
}

{$DOMAIN}, www.{$DOMAIN} {
  encode gzip zstd
  reverse_proxy landing:4173
}

{$APP_DOMAIN} {
  encode gzip zstd
  reverse_proxy frontend:3001
}

{$API_DOMAIN} {
  encode gzip zstd
  reverse_proxy backend:8001
}
